<div class="footer row text-center">
    <div class="col-md-4">
        <h1 class="text-center">Keep in touch</h1>
        <div class="row">
            <div class="col">
                <mat-icon>facebook</mat-icon>
                <mat-icon>whatsapp</mat-icon>
                <mat-icon>google</mat-icon>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h1>Main links</h1>
        <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/rooms">rooms</a></li>
            <li><a routerLink="/halls">halls</a></li>
            <li><a routerLink="/signup">signup</a></li>
            <li><a routerLink="/login">login</a></li>
        </ul>

    </div>
    <div class="col-md-4">
        <h1>Address</h1>
        <p class="lead text-center">
            Nyamata sector,<br>
            Bugesera district,<br>
            Eastern Province,<br>
            Rwanda
        </p>
    </div>
</div>