<div class="navbar navbar-expand-sm">
    <div class="container-fluid">
        <a href="" class="navbar-brand">
            <img src="../../../assets/logo3.png" alt="Logo" class="logo-img">
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">

        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav" id="navbarNav">
                <li class="nav-item">
                    <a routerLink="/home" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/rooms" class="nav-link">rooms</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/halls" class="nav-link">halls</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/create-room" class="nav-link">create room</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/create-hall" class="nav-link">create hall</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/halls" class="nav-link">orders</a>
                </li>
                <li *ngIf="!isLoggedIn" class="nav-item">
                    <a routerLink="/signup" class="nav-link">signup</a>
                </li>
                <li *ngIf="!isLoggedIn" class="nav-item">
                    <a routerLink="/login" class="nav-link">login</a>
                </li>
                <li *ngIf="isLoggedIn" class="nav-item">
                    <a routerLink="/logout" class="nav-link" (click)="logout()">logout</a>
                </li>
            </ul>
            <form class="form-inline ml-auto">
                <input type="text" placeholder="search">
                <button type="submit"><mat-icon>search</mat-icon></button>
            </form>
        </div>
    </div>

</div>