.alert {
    width: 300px;
    position: absolute;
    z-index: 200;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 5px solid #dc3545;
}
.error {
    font-size: 1.4em;
}
@media only screen and (max-width: 578px) {
    .alert {
        width: 100%;
    }
}