<h3 class="my-4 text-center">Services</h3>
<div class="container">
    <app-card cardHeader="foods and drinks" backgroundImage='url(https://lh3.googleusercontent.com/p/AF1QipMpPkE-WG6GRvnUPPzCYEXAC1F03VCw2I7erb2u=w960-h960-n-o-v1)'>

    </app-card>
    <app-card cardHeader="foods and drinks" backgroundImage='url(https://lh3.googleusercontent.com/p/AF1QipMpPkE-WG6GRvnUPPzCYEXAC1F03VCw2I7erb2u=w960-h960-n-o-v1)'>

    </app-card>
    <app-card cardHeader="foods and drinks" backgroundImage='url(https://lh3.googleusercontent.com/p/AF1QipMpPkE-WG6GRvnUPPzCYEXAC1F03VCw2I7erb2u=w960-h960-n-o-v1)'>

    </app-card>
    <app-card cardHeader="foods and drinks" backgroundImage='url(https://lh3.googleusercontent.com/p/AF1QipMpPkE-WG6GRvnUPPzCYEXAC1F03VCw2I7erb2u=w960-h960-n-o-v1)'>

    </app-card>
    <app-card cardHeader="foods and drinks" backgroundImage='url(https://lh3.googleusercontent.com/p/AF1QipMpPkE-WG6GRvnUPPzCYEXAC1F03VCw2I7erb2u=w960-h960-n-o-v1)'>

    </app-card>
    <app-card cardHeader="foods and drinks" backgroundImage='url(https://lh3.googleusercontent.com/p/AF1QipMpPkE-WG6GRvnUPPzCYEXAC1F03VCw2I7erb2u=w960-h960-n-o-v1)'>

    </app-card>
</div>
